 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
*,body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.home-page {
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.4)),url(image/frame-citrus-fruits-strawberries.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#logo{
    font-family: 'Gasoek One', sans-serif; 
    font-size: 40px; 
    color:yellow;
}
#logo span{
    font-family: 'Gasoek One', sans-serif; 
    font-size: 40px; 
    color: rgb(255, 255, 255); 
}
.footer{
    background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.4),rgba(0,0,0,.3)),url(image/frame-citrus-fruits-strawberries.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
@media (min-width:300px)and (max-width:990px){
    #logo{
        font-size: 25px;
    }
    #logo span{
        font-size: 25px;
    }
}
